body {
    background-image: url(http://cdn.theatlantic.com/assets/media/img/posts/2014/05/shrekgif/b1090a2ca.gif);
    background-position: center;
    
    background-size: cover;
    background-color:forestgreen;
}

h1,h2,h3,h4,p,a,img {
    background-image:url(http://i1.mirror.co.uk/incoming/article3185902.ece/ALTERNATES/s615/shrek.jpg);
    color: chartreuse;
    font-family: "Comic Sans MS";
    
}

