* { padding: 0; margin: 0; }
    	canvas { 
            background-image: url("https://s-media-cache-ak0.pinimg.com/236x/31/f1/ae/31f1ae32bdda74d043c19e8eecd9e4eb.jpg");
            background-position: center; 
            background-size: cover; 
            display: block; 
            margin: 0 auto; }
#Meme { display:none}