html {
    background: #999;
    border: 15px solid black;
    margin:50px;
    min-width: 600px;
    padding: 0;
}

body {
    background: white;
    margin: 0;
    padding: 25px;
}


#drawIt {
    background: #eee;
    border: 1px solid cornflowerblue;
    display: block;
    width: 700px;
    margin: 0 auto;
}