body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaQ8C2wz1bwpfMVnw0vMllOIPj3QoXwIJuYqTf7nEav2el_51W");
    background-position: center;
    background-size: cover;
}

h1 {
    color: navy;
    font-family: "Wingdings";
    
}

h2 {
    color: aqua;
    font-family: "Wingdings";
}

h3 {
    color: beige;

}

h4 {
    color: azure;
    font-family: "Wingdings";
}
p {
    color: aquamarine;
    font-family: "Wingdings";
}

h5 {
    color: greenyellow;
    font-family: "Wingdings";
}
h6 {
    color: chartreuse;

        
}
ul {
    color: deepskyblue;
    font-family: "Wingdings";
}

ol {
    color: brown;
    font-family: "Wingdings";
}