/* Main CSS for Simple JavaScript Color Changer */

body { padding: 50px; }

h1 { 
    font-size: xx-large;
    margin-bottom: 25px;
}

p { color: #333333; }

footer {
    margin:50px;
    font-size: xx-small;
}

main {
    text-align: left;
}

#colorBlock {
    width: 300px;
    height: 300px;
    border: 5px dotted chartreuse;
    background-color: rgb(127,127,127);
    margin: 50px auto;
}

[type='submit'] { margin-top: 20px; }

