/* CSS Document */

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	font-size:16px;
	margin:0;
	padding:0;
}

h1 {
	font-size:200%;
	text-transform:uppercase;
}

#wrap {
    width:25em;
	margin:0 auto;
}

#magic8ball {
    position: relative;
    margin:0 auto;
    padding:0;
    width:300px;
    height:300px;
    background: white url(../img/magic8ball.png) no-repeat 50% 50%;
    cursor: pointer;
}

#magic8ball img {
	display: block;
    margin: 0 auto;
    width: 300px;
}

#magic8ball #answer {
    position:absolute;
    top:6.25em;
    left:7em;
    width:27%;
	color:ghostwhite;
    display:none;
}

#instruction {
	color:white;
	background:rgba(50,0,255,0.85);
	margin:1em;
    margin-top: 2em;
	padding:0.5em;
	line-height:150%;
}

#question {
    width:25em;
}
