html {
    display:table;
    margin: auto;
}

body {
    background-color: rgb(255,255,255);
    -webkit-transition-duration: 2.5s; /* Safari */
    transition-duration: 2.5s;
    vertical-align: middle;
}
h1,h2,h3 {
    font-family: sans-serif;
    color: rgb(188,0,0);
    -webkit-transition-duration: 2.5s; /* Safari */
    transition-duration: 2.5s;
}
input {
    color: rgb(167,0,0);
    background-color: rgb(255,255,255);
}
.button {
    background-color: white;
    color: black;
    border: 2px solid; /* Green */
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}